{% extends 'manager/home.html' %}
{% block content %}
<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>View Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'sproviders/viewpost/css/style.css' %}">

	</head>
	<body style="background-image: url({% static "background/m5.jpeg" %}); background-size: cover ; background-repeat: no-repeat">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4" style="color:white"> Service provider Approval Form</h4>
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Company Name</th>
					        <th>UPI ID</th>
                            <th>Email ID</th>
							  <th>industry</th>
					        <th>Service Offer</th>
					        <th>Location</th>

							 <th colspan="2"> Action</th>

					      </tr>
					    </thead>
					    <tbody>
					      <tr>
							{% for each in data %}
					        <th scope="row" class="scope" >{{each.companyname}}</th>
					        <td>{{each.contactperson}}</td>
							  <td>{{each.emailid}}</td>
							   <td>{{each.industry}}</td>
					        <td>{{each.serviceoffer}}</td>
							 <td>{{each.location}}</td>

                          {% if each.approve is False %}
							  <td><a class="btn btn-primary" href="/spapprove/{{each.id}}/">Approve</a></td>
                   {% elif each.approve is True %}
                       <td style="color:white"><a class="btn btn-primary">Approved</a></td>
                   {% endif %}
                   {% if each.reject is False %}
							  <td><a class="btn btn-primary" href="/spreject/{{each.id}}/">reject</a></td>
                   {% elif each.reject is True %}
                           <td><a class="btn btn-primary">Denied</a></td>
                   {% endif %}

					      </tr>
                          {% endfor %}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'sproviders/viewpost/js/jquery.min.js' %}"></script>
  <script src="{% static 'sproviders/viewpost/js/popper.js' %}"></script>
  <script src="{% static 'sproviders/viewpost/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'sproviders/viewpost/js/main.js' %}"></script>

	</body>
{% endblock %}
</html>

