{% extends 'outsourcees/home.html' %}
{% block content %}
<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>View Service provider data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'sproviders/viewpost/css/style.css' %}">

	</head>
	<body style="background-image: url({% static "background/m14.jpg" %}); background-size: cover ; background-repeat: no-repeat">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4" style="color:white;background-color:grey">VIEW SERVICE PROVIDERS DATA</h4>
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>

					        <th>Company Name</th>
					        <th>Contact Person</th>
                            <th>Email ID</th>
					        <th>Location</th>
					        <th>Industry</th>
					        <th>Service offered</th>
					        <th>Message</th>

					      </tr>
					    </thead>
					    <tbody>
					      <tr>
							{% for each in data %}
					        <th scope="row" class="scope" >{{each.companyname}}</th>
					        <td>{{each.contactperson}}</td>
                            <td>{{each.emailid}}</td>
					        <td>{{each.location}}</td>
					        <td>{{each.industry}}</td>
					        <td>{{each.serviceoffer}}</td>
                            {% if each.accept is True %}
                               <td><a class="btn btn-primary">Accepted</a></td>
                            {% elif each.request is True %}
                               <td><a class="btn btn-primary">requested</a></td>
                            {% endif %}

					      </tr>
                          {% endfor %}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'sproviders/viewpost/js/jquery.min.js' %}"></script>
  <script src="{% static 'sproviders/viewpost/js/popper.js' %}"></script>
  <script src="{% static 'sproviders/viewpost/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'sproviders/viewpost/js/main.js' %}"></script>
<br><br><br><br><br><br>
	</body>
{% endblock %}
</html>

