
<!doctype html>
{% load static %}
<html lang="zxx">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ZKP protocol</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'zkpprotocol/css/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Poppins:100,300,400,500,500i,600,700&display=swap" rel="stylesheet">
  <!-- Template CSS -->

</head>
<body>
<script>
  {% for msg in messages %}
     alert('{{ msg }}');
  {% endfor %}
</script>
<!--/top-header-content-->
<section class="w3l-top-header-content">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<a class="navbar-brand" style="color:grey"> <label class="lohny">ZKP</label>PROTOCOL</a>
				<!-- if logo is image enable this   
				<a class="navbar-brand" href="#index.html">
					<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
				</a> -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/zkphome/">Home</a>
						</li>
						<li class="nav-item active" style="color:red">
							<a class="nav-link" href="/setzkpprotocol/">Outsourcers</a>
						</li>
						<li class="nav-item active" style="color:red">
							<a class="nav-link" href="/outsourceescomply/">Outsourcees</a>
						</li>
						<li class="nav-item active" style="color:red">
							<a class="nav-link" href="/serviceprocomply/">Servicepro</a>
						</li>
						<li class="nav-item active" style="color:red">
							<a class="nav-link" href="/zkplogout/">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--//nav-->
	</div>

</section>
<!--//top-header-content-->
{% block content %}
<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main">
	<div class="bannerhny-content">
		<!--/banner-slider-->
		<div class="content-baner-inf">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<div class="carousel-caption">
								
									<h3>ZKP <span class="b-ck">Protocol </span></h3>
									<p>We will turn your problems into your advantages</p>

							</div>
						</div>
					</div>
					<div class="carousel-item item2">
						<div class="container">
							<div class="carousel-caption">
								<h3>Smart <span class="b-ck"> Selection </span></h3>
								<p>We are experts in ZKP implementation</p>

							</div>
						</div>
					</div>
					<div class="carousel-item item3">
						<div class="container">
							<div class="carousel-caption">
								<h3>Grow <span class="b-ck">Business</span></h3>
								<p>We will turn your problems into your advantages</p>

							</div>
						</div>
					</div>
					<div class="carousel-item item4">
						<div class="container">
							<div class="carousel-caption">
									<h3>Digital <span class="b-ck">Solutions</span></h3>
									<p>We are experts in ZKP implementation</p>

							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<!--//banner-slider-->
	</div>
	<!--/featured-grids -->
    <!--//featured-grids -->
</section>
<!-- //w3l-banner-slider-main -->

<section class="w3l-content-6">
	<!-- /content-6-section -->
	  <div class="content-6-mian py-5">
			 <div class="container py-lg-5">
					 <div class="content-info-in row">
							 <div class="content-gd col-lg-4">
									 <h3 class="hny-title">
										We exist to create
things people love <span class="dot-1">.</span></h3>
							 </div>
							 <div class="content-gd col-lg-4">
									 <p>With Zero-Knowledge Proofs, cryptography becomes a master storyteller, revealing only what is needed, concealing the rest in a symphony of assurance, Where trust is earned without revealing, and secrets are kept while assurances are given.</p>
							 </div>
							 <div class="content-gd col-lg-4">
									 <p>Zero-Knowledge: Where certainty meets discretion, and assurance is granted without compromising the sanctity of information. Where trust is earned without revealing, and secrets are kept while assurances are given.</p>
							 </div>

					 </div>

				 </div>
			 </div>
	 </section>
   <!-- //content-6-section -->












    <!-- //titels-5 -->
     <!-- move top -->
     <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-long-arrow-up"></span>
    </button>

    <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };
    
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }
    
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
   
</section>
</div>
<script src="{% static 'zkpprotocol/js/jquery-3.3.1.min.js' %}"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="{% static 'zkpprotocol/js/jquery-1.7.2.js' %}"></script>
<script src="{% static 'zkpprotocol/js/jquery.quicksand.js' %}"></script>
<script src="{% static 'zkpprotocol/js/script.js' %}"></script>
<script src="{% static 'zkpprotocol/js/jquery.prettyPhoto.js' %}"></script>
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="{% static 'zkpprotocol/js/bootstrap.min.js' %}"></script>
</body>

{% endblock %}
</html>




