<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html>
<!-- Head -->
<head>
	<title>securebox</title>
	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Premier Realty a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->
	<!-- Custom-Theme-Files -->
	<link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}" type="text/css" media="all">
	<!-- //Custom-Theme-Files -->
	<!-- Web-Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" 	type="text/css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" 				type="text/css">
	<!-- //Web-Fonts -->
	<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="{% static 'mainpage/js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mainpage/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'mainpage/js/responsiveslides.min.js' %}"></script>
		<script>
				$(function () {
					$("#slider").responsiveSlides({
						auto: true,
						pager: true,
						nav: true,
						speed: 1000,
						namespace: "callbacks",
						before: function () {
							$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
						}
					});
				});
			</script>

			


</head>
<!-- //Head -->
<!-- Body -->
<body>
	<!-- Header -->
	<div class="header w3layouts-1">
		<!-- Top-Bar -->
			
				<div class="top-bar w3-1">
				<div class="container">
					<div class="header-nav w3-agileits-1">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h3><a STYLE="COLOR:yellow">Secure box outsources</a></h3>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav ">
									<li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
									<li><a  href="/OPlogin/">Outsourcing Portal</a></li>
									<li><a href="/SPlogin/">ServiceProviders</a></li>
									<li><a href="/Mlogin/">Manager</a></li>

<!--									<li><a href="contact.html">Contact</a></li>-->
								</ul>

						</nav>
					</div>
				</div>
			</div>
		<!-- //Top-Bar -->
		<!-- Slider -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<div class="slider-img">
							<img src="{% static 'mainpage/images/slide-1.jpg' %}" class="img-responsive" alt="Manufactory">
						</div>
						<div class="slider-info w3ls-1">
							<h3>Secure Box Outourcing </h3>
							<div class="underline"></div>
							<p>Our mission is to Unlock global talent, maximize efficiency,Digital outsourcing empowers proficiency.Across borders, skills seamlessly unite,Transforming tasks with digital light.Innovation thrives, boundaries dissolve,Outsourcing digitally, problems resolve.</p>
							
						</div>
					</li>
					<li>
						<div class="slider-img">
							<img src="{% static 'mainpage/images/slide-2.jpg' %}" class="img-responsive" alt="Manufactory">
						</div>
						<div class="slider-info">
							<h3> Data Sharing</h3>
							<div class="underline"></div>
							<p> Facilitating data sharing for innovation, driving progress in every sector. Harnessing the power of the digital realm, enhancing accessibility to information. Empowering individuals and organizations through seamless digital data exchange.</p>
							
						</div>
					</li>
					<li>
						<div class="slider-j">
							<img src="{% static 'mainpage/images/slide-3.jpg' %}" class="img-responsive" alt="Manufactory">
						</div>
						<div class="slider-info w3ls-1">
							<h3>Service Providers</h3>
							<div class="underline"></div>
							<p>Independent minds, boundless skills, freelancers thrive.Crafting dreams, one project at a time, they strive.Innovative spirits, they navigate their own course.From passion to profit, they wield their force.With autonomy as their guide, they redefine success.Freelancers, forging futures, with courage, they impress.In a world of possibilities, they are the architects of their destiny.</p>
						</div>
					</li>
					<li>
						<div class="slider-img">
							<img src="{% static 'mainpage/images/slide-4.jpg' %}" class="img-responsive" alt="Manufactory">
						</div>
						<div class="slider-info w3ls-1">
							<h3>Digital Marketing</h3>
							<div class="underline"></div>
							<p>Harness social media platforms for targeted audience engagement.Craft compelling content to captivate and inform your audience Utilize SEO strategies to boost online visibility and organic traffic.Employ email marketing campaigns for personalized communication.</p>
						</div>
					</li>

				</ul>

			</div>
			<div class="clearfix"></div>
		</div>
		<!-- //Slider -->
	</div>
	<!-- //Header -->
<!-- agileinfo -->
<div class="agileinfo">
	<div class="container">
	<h3>Welcome</h3>
	<p class="ttt">  They handle customer service, data entry with ease,And streamline operations with practiced expertise.outsourcing to BPOs saves time and expense,Allowing focus on core tasks for business growth</p>
			<div class="flexslider-info">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="banner-info">
										<div class="col-md-7 agileinfo-left">
											<img src="{% static 'mainpage/images/slide-1.jpg' %}" alt="">
										</div>
										<div class="col-md-5 agileinfo-grid grid-one">
											<h4>For Complaint and Querries</h4>
											<p><span>&#x260E;</span> Phone: 123-456-7890</p>
    										<p><span>&#x2709;</span> Email: admin.secure@gmail.com</p>

										</div>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="banner-info">
										<div class="col-md-7 agileinfo-left">
											<img src="{% static 'mainpage/images/slide-2.jpg' %}" alt="">
										</div>
										<div class="col-md-5 agileinfo-grid grid-one">
											<h4>AIM</h4>
											<p>we are committed to promoting a future where privacy and security are paramount. Our commitment to excellence, transparency, and ethical practices drives us to deliver exceptional Bussiness process outsourcing solutions.</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</li>

							</ul>
						</div>
					</section>
				</div>
		</div>
	</div>





	<!--FlexSlider-->
		<link rel="stylesheet" href="{% static 'mainpage/css/flexslider.css' %}" type="text/css" media="screen" />
		<script defer src="{% static 'mainpage/js/jquery.flexslider.js' %}"></script>
		<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->
<script src="{% static 'mainpage/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
				<script type="text/javascript">
					$(document).ready(function () {
						$('#horizontalTab').easyResponsiveTabs({
							type: 'default', //Types: default, vertical, accordion           
							width: 'auto', //auto or any width like 600px
							fit: true   // 100% fit in a container
						});
					});
				   </script>
</body>
<!-- //Body -->
</html>